<div class="reservation-form">
  <label>Usuario:</label>
  <input type="text" [(ngModel)]="selectedUser" placeholder="Nombre del usuario" />

  <label>Fecha:</label>
  <input type="date" [(ngModel)]="day" disabled />

  <label>hour inicio:</label>
  <input type="time" [(ngModel)]="hour" disabled />

  <label>hour fin (editable):</label>
  <input type="time" [(ngModel)]="endhour" (change)="onEndHourChange()" />
  
  <div>
    <h3>Espacios disponibles:</h3>
    <div class="spaces">
      
    
    <button
      *ngFor="let space of spaces"
      [disabled]="!availableSpaces.includes(space)"
      (click)="makeReservation(space)"
    >
      Reservar {{ space }}
    </button>
    </div>
  </div>
</div>
