<div class="reservation-form">
 <div class="form-questions">
  <div class="form-field">
    <label>Usuario:</label>
    <input type="text" [(ngModel)]="selectedUser" placeholder="Nombre del usuario" />
  </div>

  <div class="form-field">
    <label>Fecha:</label>
    <input type="date" [(ngModel)]="day" disabled />
  </div>

  <div class="form-field">
    <label>Hora inicio:</label>
    <input type="time" [(ngModel)]="hour" disabled />
  </div>

  <div class="form-field">
    <label>Hora fin (editable):</label>
    <input type="time" [(ngModel)]="endhour" (change)="onEndHourChange()" />
  </div>

 </div>
  

  <div class="form-services" style="flex: 1 1 100%;">
    <h3>Espacios disponibles:</h3>
    <div class="services">
      <button
        *ngFor="let service of services"
        [disabled]="!availableservices.includes(service)"
        (click)="makeReservation(service)">
        Reservar {{ service }}
      </button>
    </div>
  </div>

</div>
