.reservation-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    padding: 1rem;
    min-width:300px;


}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.spaces {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;

}