<table class="table table-striped">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Espacio</th>
      <th>Inicio</th>
      <th>Fin</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of reservations">
      <td>
        <ng-container *ngIf="editingReservation?.id !== r.id">
          {{ r.user }}
        </ng-container>
        <ng-container *ngIf="editingReservation?.id === r.id">
          <input [(ngModel)]="editingReservation.user" class="form-control form-control-sm">
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="editingReservation?.id !== r.id">
          {{ r.space }}
        </ng-container>
        <ng-container *ngIf="editingReservation?.id === r.id">
          <input [(ngModel)]="editingReservation.space" class="form-control form-control-sm">
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="editingReservation?.id !== r.id">
          {{ r.start }}
        </ng-container>
        <ng-container *ngIf="editingReservation?.id === r.id">
          <input [(ngModel)]="editingReservation.start" class="form-control form-control-sm">
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="editingReservation?.id !== r.id">
          {{ r.end }}
        </ng-container>
        <ng-container *ngIf="editingReservation?.id === r.id">
          <input [(ngModel)]="editingReservation.end" class="form-control form-control-sm">
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="editingReservation?.id !== r.id">
          <button class="btn btn-sm btn-warning" (click)="editReservation(r)">Editar</button>
          <button class="btn btn-sm btn-danger" (click)="cancelReservation(r)">Cancelar</button>
        </ng-container>
        <ng-container *ngIf="editingReservation?.id === r.id">
          <button class="btn btn-sm btn-success" (click)="saveReservation()">Guardar</button>
          <button class="btn btn-sm btn-secondary" (click)="cancelReservation(r)">Cancelar</button>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
