<div class="calendar">
  <div class="calendar-header">
    <button (click)="prevMonth()">‹</button>
    <h3>{{ currentDate | date: 'MMMM yyyy' }}</h3>
    <button (click)="nextMonth()">›</button>
  </div>

  <div class="calendar-grid">
    <div class="day-name" *ngFor="let day of ['Dom','Lun','Mar','Mié','Jue','Vie','Sáb']">{{ day }}</div>
    
    <div 
      *ngFor="let day of daysInMonth" 
      class="calendar-day"
      [class.today]="isSameDay(day, today)"
    >
      <div class="date-label">{{ day.getDate() }}</div>
      <div class="reservations">
        <div 
          class="reservation" 
          *ngFor="let res of getReservationsForDay(day)"
        >
          <strong>{{ res.user }}</strong><br>
       
        </div>
      </div>
    </div>
  </div>
</div>
