.login-container {
  display: flex;
  min-height: 100vh;

  background-image: 
    linear-gradient(to bottom right, rgba(255,255,255,0.05), rgba(0,0,0,0.1)),
    url('https://img.freepik.com/fotos-premium/concepto-viaje-sobre-fondo-azul-espacio-copia-juguete-avion-sobre-fondo-color-azul_661495-33662.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay; /* o soft-light */
  
  filter: brightness(0.95) saturate(1.1);
}

.box-container {
  box-shadow: 0 5px 20px var(--box-shadow-color);
  background-color: #e0dfdfb7;
  padding: 1rem 3rem;
  border-radius: 8px;
  box-shadow: inset;

}


.login-right {
  flex: 1;
  background-size: cover;
  background-position: center;
  
}

.login-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10%;

}

/* Responsive adjustments (optional) */
@media (max-width: 960px) {
  .login-right {
    display: none; /* Hide illustration on smaller screens */
  }
  .login-left {
    align-items: center;
  }
}