.reservation-list {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: scroll;
  padding-right: 6px;
}

.reservation-table {
  display: flex;
  flex-direction: column;
}

.reservation-slot {
  display: flex;
  align-items: center;
  background-color: var(--accent-color);
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(96, 70, 82, 0.1);
  transition: background-color 0.3s ease;
}

.reservation-slot:hover {
  background-color: #f4e7e3;
}

.hour-label {
  font-weight: 600;
  font-size: 1rem;
  color: #735557;
  width: 70px;
}

.reservation-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  font-size: 0.95rem;
  color: var(--primary-color);
  gap: 0.5rem;
  margin: 1rem;
}

.reservation-details strong {
  font-size: 1rem;
}

.reservation-details .text-muted {
  font-size: 0.85rem;
  color: #000;
}

.button-group,
.reservation-details .mt-1,
.reservation-details .d-flex {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

button {
  font-size: 0.85rem;
  padding: var(--btn-padding);
  border-radius: var(--btn-radius);
  border: none;
  cursor: pointer;
  transition: var(--transition);
}

/* Botones personalizados */
.btn-edit {
  background-color: #735557;
  color: #fafafa;
}
.btn-edit:hover {
  background-color: var(--primary-color);
}

.btn-cancel {
  background-color: #D29F80;
  color: #fff;
}
.btn-cancel:hover {
  background-color: #c88565;
}

.btn-create {
  background-color: #97866A;
  color: #fff;
}
.btn-create:hover {
  background-color: #847656;
}

/* Inputs */
input.form-control-sm {
  border: none;
  border-bottom: 2px solid #97866A;
  background-color: transparent;
  font-size: 0.9rem;
  width: 100%;
  padding: 4px 6px;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  outline: none;
  box-shadow: none;
}

input.form-control-sm:focus {
  border-bottom: 2px solid var(--primary-color);
  background-color: #fdf7f5;
}

/* Edición */
tr.editing-row {
  background-color: #f4e7e3;
  transition: background-color 0.3s ease;
}

.empty-slot {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}