.calendar {
  max-width: 1000px;
  margin: auto;
  font-family: 'Segoe UI', sans-serif;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #604652;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  
}
h3{
  margin: 0;

  }

.calendar-header button {
  background: white;
  border: none;
  color: #604652;
  font-size: 1rem;
  padding: 0.2rem 0.6rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.calendar-header button:hover {
  background: #e3f2fd;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0.5rem;
  gap: 0.1rem;
}

.day-name {
  font-weight: bold;
  text-align: center;
  padding: 0.5rem;
  color: #555;
  border-bottom: 1px solid #ccc;
}

.calendar-day {
  background: #fafafa;
  border: 1px solid #eee;
  border-radius: 8px;
  min-height: 3rem;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s;
}

.calendar-day:hover {
  transform: scale(1.02);
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.calendar-day.today {
  border: 2px solid #604652;
  background-color: #e3f2fd;
}

.date-label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.reservations {
  font-size: 0.85rem;
  max-height: 2rem;     /* Controla la altura visible */
  overflow-y: auto;      /* Activa scroll vertical si se necesita */
  padding-right: 4px;    /* Espacio para la barra de scroll */
  
}
.reservations::-webkit-scrollbar {
  width: 6px;
}

.reservations::-webkit-scrollbar-thumb {
  background-color: #735557;
  border-radius: 3px;
}

.reservations::-webkit-scrollbar-track {
  background-color: #e3f2fd;
}

.reservation {
  background-color: #D29F80;
  margin-bottom: 0.3rem;
  padding: 0.3rem;
  border-left: 4px solid #604652;
  border-radius: 4px;
  animation: fadeIn 0.3s ease;
}

.reservation strong {
  color: #604652;
}

.actions {
  margin-top: 0.2rem;
}

.actions button {
  font-size: 0.7rem;
  margin-right: 0.3rem;
  padding: 0.1rem 0.4rem;
  border-radius: 4px;
  transition: background 0.3s;
}

.actions button:hover {
  opacity: 0.9;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(4px); }
  to { opacity: 1; transform: translateY(0); }
}
canvas {
  width: 100% !important;
  height: auto !important;
  max-width: 600px;
}