.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.5rem;
  height: 2rem;
  background-color: rgba(96, 70, 82, 0.15);
  border: none;
  border-radius: 50%;
  color: #333;
  font-size: 0.75rem;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-close:hover {
  background-color: #8f8f8fa1;
  color: #fff;
  transform: scale(1.1);
}


@keyframes fadeInModal {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.body-reservations {
  display: flex;
  flex-direction: row;
  align-items: top;
  padding: 1rem;
  gap: 1rem ;
  justify-content: space-between;
}
.chart-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  margin-bottom: 1rem;
  min-width: 35%;

}
.chart-component  {
  height: 280px;
  width: 80%;
  position: relative;
  overflow: hidden;
  background: #fff;
  
  align-self: top;
  padding: 0  2rem;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  

}



.left-column{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;

}

.calendary-componenet{
  flex:1;
  padding:  2rem;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  margin-bottom: 1rem;
  min-width: fit-content;
  background: #fff;
  height: fit-content;
  max-width: 700px;
}

.reservation-form-component{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  height: fit-content;
  
  flex:1;

}




.reservation-table-display {
  padding: 0  2rem;
  background: #fff;
 
  border-radius: 12px;
  max-height: 30%;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  animation: fadeInModal 0.3s ease-in-out;
  position: relative;
  flex: 1;
   margin-top: 1rem;
  max-height: 500px; 
  border-top: 1px solid #ccc;
  padding-top: 1rem;
  width: 80%;
}

h4, h5{
  color: var(--secondary-color);
  margin: 1rem 0;

}
h5{
  font-size: 1.5rem;
}
header{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.modal-content { 
  overflow-y: auto;
  padding: 1rem;
  flex-grow: 1;
}
@media (max-width: 1200px) {
  .body-reservations {
    flex-direction: column;
    align-items: center;
  }
  .chart-component, .calendary-componenet  {
    min-width: 80%;
  }
  .reservation-table {
    max-width: 100%;
    width: 80%;
  }
  .body-reservations {
    gap:50px
  }
}