<div class="reservations-page container mt-4">

  <!-- ✅ Encabezado -->


  <!-- ✅ Sección de Gráfica y Calendario lado a lado en pantallas grandes -->
  <div class="body-reservations">
    <!-- 📊 Gráfico de Barras -->
    <div class="chart-box">
      <header class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h4 mb-0">Gestión de Reservas</h1>
      </header>
      <div class="chart-component col-md-6 mb-4 mb-md-0">



        <app-reservations-barchart [reservations]="reservations" [title]="'Reservas por sala'" [columns]="2">
        </app-reservations-barchart>

      </div>
      <div class="reservation-table-display" *ngIf="isModalOpen">
        <div class="modal-header">
          <h5 class="mb-3">{{ selectedDate }}</h5>
          <button class="modal-close" (click)="closeModal()">x</button>
        </div>
        <div class="modal-content">
          <app-reservation-table [reservations]="selectedDayReservations"></app-reservation-table>
        </div>
      </div>
    </div>


    <!-- 📅 Calendario -->
    <div class="calendary-componenet col-md-6">
      <h5 class="mb-3">Calendario de Reservas</h5>
      <app-reservation-calendary [reservations]="reservations" (daySelected)="openModalForDay($event)">
      </app-reservation-calendary>
    </div>


  </div>


  <div class="reservation-handle">


  </div>



</div>